*{
    margin: 0;
    padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}
.homepage {
	width: 1170px;
	margin: auto;
}
header {
	background-image: url(images/bg.jpg);
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.808)));
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: none;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.logo {
	float: left;
}
.logo img {
	width: 80%;
	padding: 15px 0;
}
.welcome {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome h1 {
	text-align: center;
	color: #fff;
	text-transform: none;
	font-size: 60px;
}
.welcome h1 span {
	color: #00fecb;
}
.welcome a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration:none;
	text-transform: none;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome a:hover {
	background: #fff;
	color: #333;
}
/*resposive*/

@media (max-width:600px) {
	.homepage {
		width: 100%;
	}
	.logo {
		float: none;
		width: 30%;
		text-align: center;
		margin: 1,4;
	}
	img {
		width: ;
    }
    .nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome {
		width: 100%;
		height: auto;
		margin: auto;
	}
	.welcome h1 {
		font-size: 20px;
	}
}