/* Tags */
body {
    
}

h1 {
    font-family: 'Bree Serif', serif;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 500;
}

/* Classes */

.container-fluid {
    padding: 3% 15% 7% 15%;
}
.para1 {
    font-family: 'Cinzel', serif;
    line-height: 2;
    font-weight: 700;
}
.navbar {
    padding: 0 0 4rem;
}
.nav-item {
    padding: 0 10px;
}
.nav-link {
    font-size: 1.2rem;
    font-weight: bold;
}
.top-logo {
    width: 240px;
    height: 340px;
}
.navbar-brand {
    font-family: 'Headland One';
    font-size: 2rem;
    font-weight: bold;

}




/* Id's */

#Home {
    background-color: #f9ed69;
}
